ul {
  display: flex;
  justify-content: space-around;

}


.navbar{
  background: linear-gradient(to right, #333 0%, #000 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 64px;
}
.navbar ul{
  overflow: auto;
}
.navbar li{
  float:left;
  list-style: none; 
  margin: 10px 20px;
  
}
.navbar li a{
  padding: 12px 16px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: large;
  font-family: 'Lucida Sans Regular';
}
.navbar li a:hover{
  background: white;
  color: black;
  border-radius: 16px;
}
.search{
  float: right;
  color: white;
  padding: 12px 75px;
}
.navbar input{
  border-radius: 14px;
  padding: 3px 17px;
  width: 129px;
}
